@using GrSU.University.Clients.Resources
@using GrSU.University.Clients.Resources.Entities
@model IEnumerable<GrSU.University.Clients.Web.Models.Rooms.RoomListModel>

@{
    ViewBag.Title = Room.TitleList;
}

<h2>@Room.TitleList</h2>

<p>
    @Html.ActionLink(Buttons.Create, "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SitsCount)
        </th>
        <th></th>
    </tr>

    @Html.DisplayForModel()

</table>
