@using GrSU.University.Clients.Resources
@using GrSU.University.Clients.Resources.Entities
@model GrSU.University.Clients.Web.Models.Rooms.RoomModel

@{
    ViewBag.Title = Room.TitleNew;
}

<h2>@Room.TitleNew</h2>

@using (Html.BeginForm("Index", "Rooms", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
}

<div>
    @Html.ActionLink(@Navigation.GoToList, "Index")
</div>
