@model GrSU.University.Clients.Web.Models.Rooms.RoomModel
<tr>
    <td>
        @Html.DisplayFor(m => m.Number)
    </td>
    <td>
        @Html.DisplayFor(m => m.SitsCount)
    </td>
    <td>
        @Html.ActionLink("Edit", "Index", new {id = Model.Id, controller = "Room"}) |

        @using (Html.BeginRouteForm(new {action = "Index", controller = "Room", id= @Model.Id }))

        {

        @Html.HttpMethodOverride("DELETE")
        <input type="submit" value="Delete"/>

}
    </td>
</tr>