@model GrSU.University.Clients.Web.Models.StudentGroups.StudentGroupModel

@{
    ViewBag.Title = "Редактирование группы";
}

<h2>Редактирование Группы</h2>

@using (Html.BeginForm("Index", "StudentGroup"))
{

    @Html.HttpMethodOverride("PUT")
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    @Html.EditorForModel()
}

<div>
    @Html.ActionLink("Вернуться", "Index", "StudentGroups")
</div>
