@using GrSU.University.Clients.Resources
@model GrSU.University.Clients.Web.Models.StudentGroups.StudentGroupModel

<div class="form-horizontal">
    <h4>Информация о группе</h4>
    <hr />
    @Html.ValidationSummary(true)
    
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Buttons.Save" class="btn btn-default" />
        </div>
    </div>
</div>