@using GrSU.University.Clients.Resources
@using GrSU.University.Clients.Resources.Entities
@model GrSU.University.Clients.Web.Models.Rooms.RoomModel

@{
    ViewBag.Title = Room.TitleEdit;
}

<h2>@Room.TitleEdit</h2>

@using (Html.BeginForm("Index", "Room"))
{

    @Html.HttpMethodOverride("PUT")
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    @Html.EditorForModel()
}

<div>
    @Html.ActionLink(Navigation.GoToList, "Index", "Rooms")
</div>
